region=us-east-1
ami=ami-e7b3b38e
instance_type=m3.xlarge
cluster_name=vertica_cluster
key_pair=user
key_filename=/home/user/.ssh/id_rsa
local_public_key=/home/user/.ssh/id_rsa.pub
use_community_edition_license=0
local_license_path=/home/user/.aws/vlicense
db_user=dbadmin
db_name=dw
db_pw=changeme
centos_pv_ami=ami-a96b01c0
vertica_rpm_s3_url=s3://your_s3_bucket/vertica-7.0.1-0.x86_64.RHEL5.rpm
